.pagination > li > a
{
    background-color: white;
    color: green;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: green;
    background-color: #eee;
    border-color: green;
}

.pagination > .active > a
{
    color: green;
    background-color: green !Important;
    border: solid 1px green !Important;
}